doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title #{__('TITLE', community)}
    link(href="/css/style.css", rel="stylesheet", type="text/css")
  body
    #container
      .header
        .logo
          img(src="/images/logo.png", alt="Slack + HEROPY")
        if isFailed
          h1 초대장 전송을 실패하였습니다.
        else
          h1 초대장 전송을 완료하였습니다.
        h2(class="#{isFailed?'error':'success'}") !{message}
